<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <% if logged_in? %>
        <p>Bem vindo, <%= current_correntista.nome %>!</p>
        <%= link_to "Sair (Trocar de usuário)", logout_path, method: :delete, data: { confirm: "Deseja realmente sair?" } %>
      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
