<h1>Painel do Correntista</h1>

<p>Olá, <%= current_correntista.nome %>!</p>
<p>Seu perfil: <%= current_correntista.perfil.upcase %></p>

<%# Se quiser exibir saldo%>
<p>Saldo atual: R$ <%= number_to_currency(current_correntista.conta_corrente.saldo, unit: "") %></p>

<%# Exemplo qualquer de menu protegido %>
<nav>
  <ul>
    <li><%= link_to "Extrato", extrato_conta_path(@conta) %></li>
    <li><%= link_to "Saque", new_saque_conta_path(@conta) %></li>
    <li><%= link_to "Depósito", new_deposito_conta_path(@conta), class: "btn btn-primary" %></li>
    <li><%= link_to "Transferência", new_transferencia_conta_path(@conta) %></li>
    <% if current_correntista.vip? %>
      <li><%= link_to "Solicitar visita do gerente", new_visita_conta_path(@conta) %></li>
    <% end %>
    <li><%= link_to "Sair (Trocar de usuário)", logout_path, method: :delete, data: { confirm: "Deseja realmente sair?" } %></li>
  </ul>
</nav>
